<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <script src="https://kit.fontawesome.com/b79dcbefc5.js" crossorigin="anonymous"></script>
    <title>Game UP</title>
</head>
<body>
    <header>
        <nav>
            <div class="nav-bar">

            <i class="fas fa-bars">
                <input type="checkbox" id="show-nav" hidden>
                            <ul class="navbar">
                                <li><a href="">Crear Cuenta</a></li>
                                <li><a href="">Ingresar</a></li>
                            </ul>
            </i>
            <img id="logo" src="/images/logoGameUp.png"/>
            <i class="fas fa-search"></i>
            <a href="/login">Ingresar</a>
            </div>                        
        </nav>
    </header>
    <div class="banner-container">
        <i class="fas fa-chevron-left flechas"></i>        
        <img id="banner" src="/images/index/img-home-banner.jpg"/>
        <i class="fas fa-chevron-right flechas"></i>
    </div>
    <div>
        <div class="seccion">
            <h2>Populares Nintendo</h2>
            <a href="#">Mas resultados</a>
        </div>
        <div class="items">
            <article >
                <img  src="/images/index/smash-sw-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                <p class="nombre-producto">Super Smash Brothers</p>
                <p class="estado">Nuevo</p>
                <p>Normal: <span>1500.00</span></p>
                <p>En Tienda: <span>1450.00</span></p>
                <p class="envio">A domicilio: <span>1350.00</span></p>
                </div>
                
            </article>
            <article>
                <img  src="/images/index/botw-sw-1.jpg" alt="Zelda Breath of The Wild">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Zelda Breath of the Wild</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
        </div>
        

    </div>

    <div>
        <div class="seccion">
            <h2>Populares Playstation</h2>
            <a href="#">Mas resultados</a>
        </div>
        <div class="items">
            <article>
                <img  src="/images/index/gow-ps4-1.jpg" alt="God Of War PS4">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">God Of War</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
            <article>
                <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Final Fantasy 7 Remake</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>
        </div>        
    </div>

    <div>
        <div class="items">
            <article>
                <a href="/productDetail">
                    <img  src="/images/index/mortal-kombat.png" alt="Mortal Kombat 11">
                </a>
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Mortal Kombat 11 Ultimate Edition</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1399.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1499.00</span></p>
                </div>
            </article>
            <article>
                <img  src="/images/index/ff7-remake-ps4-1.jpg" alt="Smash Brothers Ultimate">
                <div class="detalles-producto"> 
                    <p class="nombre-producto">Final Fantasy 7 Remake</p>
                    <p class="estado">Nuevo</p>
                    <p>Normal: <span>1500.00</span></p>
                    <p>En Tienda: <span>1450.00</span></p>
                    <p class="envio">A domicilio: <span>1350.00</span></p>
                    </div>
            </article>           
        </div>        
    </div>

    

    <footer class="footer">
        <div class="elemento-footer">
            <h2>INFORMACION</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>SERVICIO AL CLIENTE</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>AYUDA</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>REDES SOCIALES</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>FORMAS DE PAGO</h2><i class="fas fa-plus"></i>
        </div>
        <div class="terminos">
            <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
                Reservados
            </p>
        </div>
        

    </footer>
    
</body>
</html>