<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Game UP</title>
</head>
<body>
    <header>
        <h1><a href="/views/fomulario-registro.html">Crear Cuenta</a></h1>
        <nav>
            <img/>
            <img/>
            <div><i></i></div>
            <a href="#">Ingresar</a>
        </nav>
    </header>
    <div>
        <img/>
    </div>
    <div>
        <div>
            <h2>Populares Nintendo</h2>
            <a href="#">Mas resultados</a>
        </div>
        <article>
            <img src="" alt="">
            <p></p>
        </article>
        <article>
            <img src="" alt="">
            <p></p>
        </article>

    </div>

    <div>
        <div>
            <h2>Populares Playstation</h2>
            <a href="#">Mas resultados</a>
        </div>        
        <article>
            <img src="" alt="">
            <p></p>
        </article>
        <article>
            <img src="" alt="">
            <p></p>
        </article>

    </div>
    <footer>
        <div>
            <h2>INFORMACION <i>+</i></h2>
        </div>
        <div>
            <h2>SERVICIO AL CLIENTE <i>+</i></h2>
        </div>
        <div>
            <h2>AYUDA <i>+</i></h2>
        </div>
        <div>
            <h2>REDES SOCIALES <i>+</i></h2>
        </div>
        <div>
            <h2>FORMAS DE PAGO <i>+</i></h2>
        </div>
        <p>Terminos y Condiciones | Aviso de Privacidad 2021 Grupo4. Todos los Derechos
            Reservados
        </p>

    </footer>
    
</body>
</html>