<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login-register.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b79dcbefc5.js" crossorigin="anonymous"></script>
    <title>Game UP</title>
</head>
<body>
    <header>                
            <div class="nav-bar">            
            <a href="/"><img id="logo" src="/images/logoGameUp.png"/></a>          
            </div>                                
    </header>
    
    <div class="contenedor">
        
            <div class="tab-items">
                <div class="marco">
                    <p>Iniciar Sesion</p>   
                </div>
                <div class="marco">
                    <a href="/register"><p>Crear Cuenta</p></a>
                </div>
                
            </div>
        

        <form action="#" method="POST">            
            <input type="text" name="name" placeholder="Email*" >            
            <input type="password" name="password" placeholder="Password*" >
            <div class="btn-container">
                <button class="btn-login" type="submit">INGRESAR</button>
            </div>
            
        </form>     
    </div>
    
</body>
</html>