*{
    box-sizing: border-box;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
}

#logo {
    max-width: 80px;
}

#banner {
    max-width: 100%;
}

.banner-container {
    display: relative;
}

.flechas {
    position: absolute;
}

.fa-chevron-left {
    top: 80px;
    left: 10px;
}

.fa-chevron-right {
    top: 80px;
    right: 10px;
}

.seccion {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

.items > article > img {
    max-width: 120px;
}

.detalles-producto{
    line-height: 8px;
    
}
.estado {
    color: cornflowerblue;
    font-weight: bold;
}

.envio {
    color: crimson;
}
.nombre-producto{
    font-weight: bold;
}


/*Modificación*/
.navbar{
    margin: 0;
    padding: 0;
    display: none;
}
.navbar li{
    color: black;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}
input[type="checkbox"]:checked + .navbar{
    display: block;
}

.footer {
    display: flex;
    align-items:flex-start;
    flex-flow: column;    
    background-color: #f1f1f2;
    width: 100%;
    border: red dotted 1px;
    

}

.elemento-footer{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: grey solid 4px;
    margin: 8px;
    margin-right: 16px;
    width: 95%;
    
    
}

.terminos {
    margin: 8px;
}
