*{
     box-sizing: border-box;
 }
 p,h1,h2,h3,h4,h5,a,span,li,label,input,button {
    font-family: 'Signika Negative', sans-serif;
}
.container{
    border: solid 1px gold;
    width: 100vw;
     

}
.principal{
    width: 100%;
}
.cabecera {
    border: solid 1px white;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 56px;
     
}
 
#fake-input{
    padding: 10px;
    background-color: white;
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    align-items: center;
    border-radius: 50px;;
}
 
#buscador {
    border: 0;
    height: calc(100% - 4px);
    display: flex;
    
    width: 100%;
 }
 #buscador:focus {
     outline-width: 0;
 }

 .login {
     color: black;
     background-color: black;
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 0;
     
 }
 
 .espaciador-header{
     margin: 0 40px;
 }
 
 .search{
     
     font-size: 30;
     
 }
 .icono-input{
     
     font-size: 40px;
     color: white;
 }
 .icono-input2{
     margin: 0 20px;
     font-size: 30px;
     color: white;
 }
/*Header <-*/

/*main*/
 .cuerpo2{
    margin: 0 5%;
    width: 90%;
    border: solid 1px red;
    position: relative;
}
img{
    width: 100%;
}
#imagen-banner{
    display: none;
    height: 50PX;
}
.contenedor-imagenes-carrito{
    border: solid 1px blue;
    margin-top: 10px;

}

.contenedor-imagenes{
    border: solid 1px green;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
       
}
.imagenes{
    border: solid yellow 1px;
    display: none;
}
#imgbody{
    border: solid 1px purple;
    width: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 


.imagen-principal{
    border: solid 1px violet;
    display: flex;
    justify-content: center;
}
.detalles{
    border: solid blue 1px;
}

#titulo-juego{
    border: solid 1px brown;
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}

.precio{
    border: solid 1px brown;
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
    color: red;
}

.descripcion-envio{
    margin: 5%;
    border: solid 0.5px grey;
}

.descripcion{
    border: solid 1px brown;
    margin: 5%;
    font-size: 24px;
    font-weight: bold;
}

.envio{
    padding: 3%;
    color: green;
}
#letra-envio{
    color: black;    
}

.navbar__menu2, .navbar__menu3 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

.navbar__menu2 li{
    color: black;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}
input[type="checkbox"]:checked + .navbar__menu2{
    display: block;
}

.navbar__menu3{
    margin: 0;
    padding: 0;
    display: none;
}
.navbar__menu3 li{
    color: black;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}
input[type="checkbox"]:checked + .navbar__menu3{
    display: block;
}

.navbar__menu4{
    margin: 0;
    padding: 0;
    
}
.navbar__menu4 li{
    color: black;
    margin-top: 5px;
    font-size: 15px;
    font-weight: lighter;
    text-align: justify;
}
input[type="checkbox"]:checked + .navbar__menu4{
    display: block;
}
/*main*/

@media(min-width: 768px){
    .imagenes{
        
        display: block; 
    }

    #imgbody{
        
        width: 100px;
        
    } 
}

/*----------------*/

.prueba{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    width: 100%;
    
 }

.navbar__menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  .submenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;

    }
  
  .navbar__menu > li {
    width: 100%;
    border-style: solid;
    border-color: rgba(0, 0, 0, .05);
    border-width: 0 0 1px;
    text-align: center;
    background-color:  #212121;
    display: block;
    min-height: 40px;
    
    position: relative;
  }
  .navbar__menu > li:hover {
    background-color: dimgray;
  }
  .navbar__menu > li a, .navbar__menu > li label {
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: block;
    min-height: inherit;
    padding: 8px;
  }
  
  .submenu > li {
    width: 100%;
    padding: 1px;
    text-align: center;
    background-color: darkred;
  }
  
  input[type="checkbox"]:checked + .navbar__menu, 
  input[type="checkbox"]:checked + .submenu {
    display: block;
  }

  .footer {
    display: flex;
    align-items:flex-start;
    flex-flow: column;    
    background-color: #f1f1f2;
    width: 100%;
    border: red dotted 1px;
    

}

.elemento-footer{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    border-bottom: grey solid 4px;
    margin: 8px;
    margin-right: 16px;
    width: 95%;
    
    
}

.terminos {
    margin: 8px;
}

