<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/117b0fb8d8.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/detail/detalle-producto.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <title>Detalle del producto</title>
</head>
<body>       
    <div class="container">  
        <header class="principal">
            <input type="checkbox" id="show-nav" hidden>
          <ul class="navbar__menu">
            <li>
              <label for="show-submenu"><i class="fas fa-bars"></i></label>
              <input type="checkbox" id="show-submenu" hidden>
              <ul class="submenu">
                <li><a href="#">Iniciar Sesión</a></li>
                <li><a href="#">Crear Cuenta</a></li>
              </ul>
            </li>
            <li>
                <div id="fake-input">
                    <div>
                    </div>
                    <input id="buscador" type="text" placeholder="Buscar productos"/>
                    <div class="search">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
            </li>
            
            <li><a href="#logout"><i class="fas fa-shopping-cart"></i></a></li>
          </ul>
                  
        </header>        
        
        <main class="cuerpo2">            
            <div class="contenedor-imagenes-carrito">   
                <div class="contenedor-imagenes">
                    <div class="imagenes">
                        <img id="imgbody" src="/images/detalle-producto-img/segunda-imagen.webp" alt="banner">
                        <img id="imgbody" src="/images/detalle-producto-img/tercera imagen.webp" alt="banner">
                        <img id="imgbody" src="/images/detalle-producto-img/cuearta-imagen.webp" alt="banner"> 
                    </div>
                    <div class="imagen-principal">
                        <img src="/images/detalle-producto-img/imagen principal.webp" alt="banner">
                    </div>
                </div>
            </div>
                
            <div class="detalles">
                <div id="titulo-juego">
                    <h3>PS4 Juego Mortal Kombat 11 Ultimate Edition</h3>
                    
                </div>
                <div class="precio">
                    <h4>$1,399.00</h4>
                    
                </div>
                <div class="descripcion-envio">
                    <div class="envio">
                        <i class="fas fa-shipping-fast"><span> Envío Gratis</span></i>
                        <div id="letra-envio" ><p>Recibelo pronto en tu domicilio</p> </div>
                    </div>
                </div>
                <div class="descripcion">
                    <div class="detalles-producto">
                        <div>
                            <label for="show-nav2">
                                Detalle del Producto
                                
                            </label>  
                        </div>
                            <input type="checkbox" id="show-nav2" hidden>
                            <ul class="navbar__menu2">
                              <li>                                
                                <strong>Mortal Kombat 11 Ultimate</strong> es un verdadero coloso de la lucha, con contenido como para que ningún jugador pueda pasar por alto a la ligera a poco que le interese este género tradicional. Si es inagotable en su vertiente online
                                        Los 37 personajes tienen su interés gracias sobre todo a lo contrastante de sus movimientos especiales, por lo que utilizarlos hasta cierto nivel de profundidad en esos modos offline
                                        La idea de ir ganando consumibles para desbloquear skins, fatalitys y cientos de cosas más es muy buena para un juego de lucha planteado para durar años
                              </li>
                            </ul>
                    </div>
                    
                    <div class="caracteristicas">
                        <div>
                            <label for="show-nav3">
                                Características destacadas
                            </label>  
                        </div>
                            <input type="checkbox" id="show-nav3" hidden>
                            <ul class="navbar__menu3">
                                <li>Multiplataforma y multigeneración.</li>
                                <li>Tiempos de carga considerablemente reducidos.</li>
                                <li>Gráficos mejorados</li>
                                <li>Resolución dinámica 4K</li>
                            </ul>
                    </div>    
                </div>
            </div>
            

        </main>

        <div class="cabecera">
            <div class="icono-input2"> 
                <i class="fas fa-bars"></i>
            </div>
                <!-- -->
            <div id="fake-input">
                <div>
                </div>
                <input id="buscador" type="text" placeholder="Buscar productos"/>
                <div class="search">
                    <i class="fas fa-search"></i>
                </div>
            </div>
                <!-- -->
            <div class="icono-input2">
                <i class="fas fa-shopping-cart"></i>
            </div>     
        </div>

        <footer class="footer">
            <div class="elemento-footer">
                <h2>INFORMACION</h2><i class="fas fa-plus"></i>
            </div>
            <div class="elemento-footer">
                <h2>SERVICIO AL CLIENTE</h2><i class="fas fa-plus"></i>
            </div>
            <div class="elemento-footer">
                <h2>AYUDA</h2><i class="fas fa-plus"></i>
            </div>
            <div class="elemento-footer">
                <h2>REDES SOCIALES</h2><i class="fas fa-plus"></i>
            </div>
            <div class="elemento-footer">
                <h2>FORMAS DE PAGO</h2><i class="fas fa-plus"></i>
            </div>
            <div class="terminos">
                <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
                    Reservados
                </p>
            </div>
            
    
        </footer>
         
       
          
        
        
        <div><h1><a href="/">Regresar</a></h1></div>
    </div> 
</body>
</html>