<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cart/styles.css">
    <link rel="stylesheet" href="/css/cart/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b79dcbefc5.js" crossorigin="anonymous"></script>
    <title>Game UP</title>
</head>
<body>
    <header>        
        <nav>
            <div class="nav-bar">
            <i class="fas fa-bars"></i>
            <img id="logo" src="/images/logoGameUp.png"/>
            <i class="fas fa-search"></i>
            <a href="#">Ingresar</a>
            </div>                        
        </nav>
    </header>
    
    <div class="contenedor">
        <div class="detalles-envio">
        <h2>Tu Carrito de Compra</h2>
        <h3>Envio a domicilio</h3>
        <p>Entrega Estimada: Antes de las 21:00 del dia de mañana</p>
        <p>+ $49.00 MXN de envio</p>
        </div>
        
        <article>            
            <div class="articulos-contenedor">
                <div class="columna-50">
                    <h4>Producto(s)</h4>
                    <img src="/images/cart/mica-nintendo-swtich-gp_1.jpg" alt="">
                    
                    
                </div>
                <div class="columna-50">
                    <h3>PROTECTOR DE PANTALLA NINTENDO SWITCH GP</h3>
                    <p class="resaltar">NUEVO</p>
                    <p>En inventario</p>
                    <p>Precio unitario: $199.99 MXN</p>

                    
                </div>
            </div>
            <div>

            </div>
        </article>

        <div class="total-pagar">
            <h3>Total a Pagar: </h3>
            <h3>$248.99</h3>
        </div>
    </div>
    
    <footer class="footer">
        <div class="elemento-footer">
            <h2>INFORMACION</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>SERVICIO AL CLIENTE</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>AYUDA</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>REDES SOCIALES</h2><i class="fas fa-plus"></i>
        </div>
        <div class="elemento-footer">
            <h2>FORMAS DE PAGO</h2><i class="fas fa-plus"></i>
        </div>
        <div class="terminos">
            <p><span style="color: cornflowerblue;">Terminos y Condiciones </span> | <span style="color: cornflowerblue;"> Aviso de Privacidad</span>   2021 Grupo4. Todos los Derechos
                Reservados
            </p>
        </div>
        

    </footer>
    
</body>
</html>